ui5-card {
  width: 22rem;
}

.content,
    .content-group {
        display: flex;
        flex-direction: column;
        padding-block-end: 1rem;
    }
    .content-padding {
        padding: 5rem 2rem 1 2rem;
        box-sizing: border-box;
    }

    
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 22rem);
      grid-auto-rows: 1fr;
      gap: 1rem;
  }